.galleryContainer {
  display: flex;
}

.galleryList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.galleryImg {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
}

.accentCamperImg {
  width: 283px;
  height: 240px;
}
