.galleryList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.galleryImg {
  width: 270px;
  height: 280px;
  border-radius: 10px;
  object-fit: cover;

  @include media(desktop) {
    width: 292px;
    height: 312px;
  }
}
