.catalogList > li:not(:last-child) {
  margin-bottom: 18px;

  @include media(tablet) {
    margin-bottom: 32px;
  }
}

.catalogList {
  margin-bottom: 20px;

  @include media(tablet) {
    margin-bottom: 40px;
  }
}

.catalogListSection {
  width: 100%;

  @include media(desktop-s) {
    width: calc($desktop-s * 0.6166);
  }

  @include media(desktop) {
    width: calc($desktop * 0.6166);
  }
}
