.catalogList > li:not(:last-child) {
  margin-bottom: 18px;

  @include media(tablet) {
    margin-bottom: 32px;
  }
}

.catalogList {
  margin-bottom: 20px;

  @include media(tablet) {
    margin-bottom: 40px;
  }
}

.catalogListSection {
  width: 100%;

  @include media(desktop-s) {
    width: calc($desktop-s * 0.6166);
  }

  @include media(desktop) {
    width: calc($desktop * 0.6166);
  }
}

.emptyListContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 10%;

  @include media(desktop-s) {
    margin-top: 25%;
  }
}

.emptyListIcon {
  width: 50px;
  height: 50px;
  fill: $gray-color;
}

.explainText {
  @include font(16, 24);
  color: $text-color;

  @include media(tablet) {
    width: 70%;
  }

  @include media(desktop-s) {
    width: 50%;
  }
}
