.catalogList > li:not(:last-child) {
  margin-bottom: 18px;
  @include media(tablet) {
    margin-bottom: 32px;
  }
}

.catalogList {
  margin-bottom: 20px;
  @include media(tablet) {
    margin-bottom: 40px;
  }
}

.catalogListSection {
  text-align: center;
}
