.customInput {
  width: 100%;
  border-radius: 15px;
  background-color: $inputs-color;

  label {
    width: 100%;
    padding: 9px;
    height: 50px;

    display: flex;
    align-items: center;

    cursor: pointer;
  }

  @include media(desktop-s) {
    border-radius: 12px;

    label {
      padding: 14px;
    }
  }

  @include media(desktop) {
    label {
      padding: 18px;
    }
  }
}

.placeholder {
  @include font(14, 18);
  font-weight: 400;
  color: $gray-color;
  text-align: left;

  @include media(tablet) {
    @include font(16, 22);
  }

  @include media(desktop) {
    @include font(16, 24);
  }
}

.value {
  @include font(16, 20);
  font-weight: 400;
  text-align: left;

  @include media(tablet) {
    @include font(16, 22);
  }

  @include media(desktop) {
    @include font(16, 24);
  }
}
