.filtersSection {
  width: calc(100% - ($mobile * 0.0444) * 2);

  position: absolute;
  overflow: hidden;
  z-index: 5;
  pointer-events: none;

  &.open {
    pointer-events: auto;
  }

  @include media(tablet) {
    width: calc(100% - ($tablet * 0.0444) * 2);
  }

  @include media(desktop-s) {
    width: calc($desktop-s * 0.25);

    position: static;
    overflow: visible;
    pointer-events: auto;
  }

  @include media(desktop) {
    width: calc($desktop * 0.25);
  }
}

.filterForm {
  @include media(to-desktop-s) {
    width: 100%;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $white-color;

    transform: translateY(-100%);
    transition: transform 300ms ease-in-out;

    &.open {
      transform: translateY(0);
      transition: transform 300ms ease-in-out;
    }
  }
}

.locationFilter {
  margin-bottom: 10px;

  @include media(desktop-s) {
    margin-bottom: 20px;
  }

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.filtersTitle {
  @include font(16, 24);
  color: $text-color;
  margin-bottom: 12px;

  @include media(desktop-s) {
    margin-bottom: 20px;
  }

  @include media(desktop) {
    margin-bottom: 32px;
  }
}

.vehicleEquipments {
  margin-bottom: 15px;

  @include media(desktop-s) {
    margin-bottom: 20px;
  }

  @include media(desktop) {
    margin-bottom: 32px;
  }
}

.vehicleTypes {
  margin-bottom: 20px;

  @include media(desktop-s) {
    margin-bottom: 25px;
  }

  @include media(desktop) {
    margin-bottom: 40px;
  }
}

.responsiveSubBtn {
  @include media(desktop-s) {
    width: 150px;
    height: 50px;
    border-radius: 150px;
  }

  @include media(desktop) {
    width: 173px;
    height: 56px;
    border-radius: 200px;
  }
}

.formBtnsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @include media(tablet) {
    flex-direction: row;
    gap: 30px;
  }

  @include media(desktop-s) {
    justify-content: space-between;
  }
}

.resetFilterBtn {
  border: none;
  background: transparent;
  text-decoration: underline;
}
