.featuresContainer {
  @include media(desktop-s) {
    padding: 32px 40px;
    width: 593px;
  }

  @include media(desktop) {
    padding: 44px 52px;
    width: 631px;
  }
}

.badgeslist {
  margin-bottom: 25px;

  @include media(desktop-s) {
    margin-bottom: 50px;
  }

  @include media(desktop) {
    margin-bottom: 100px;
  }
}

.detailsTitle {
  @include font(18, 20);
  font-weight: 500;
  margin-bottom: 24px;

  @include media(desktop-s) {
    @include font(20, 24);
    margin-bottom: 35px;
  }

  @include media(desktop) {
    font-weight: 600;
    margin-bottom: 48px;
  }
}

.detailsItem:not(:last-child) {
  margin-bottom: 10px;

  @include media(desktop) {
    margin-bottom: 16px;
  }
}

.detailsItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.detailsFeatures {
  @include font(14, 20);
  text-transform: capitalize;

  @include media(tablet) {
    @include font(16, 20);
  }

  @include media(desktop) {
    @include font(16, 24);
  }
}
