.locationInputLabel {
  display: block;
  position: relative;
}

.inputTitle {
  @include font(16, 24);
  font-weight: 400;
  color: $gray-color;
  margin-bottom: 8px;
}

.cityInput {
  @include font(16, 24);
  font-weight: 400;
  padding: 12px 46px;
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 10px;
  background-color: $inputs-color;

  @include media(desktop) {
    height: 56px;
    padding: 18px 46px;
  }

  &::placeholder {
    @include font(16, 24);
    font-weight: 400;
    color: $gray-color;
  }

  &:focus {
    outline: none;
    border: 1px solid $button-color;
  }
}

.inputIcon {
  width: 20px;
  height: 20px;
  fill: $gray-color;

  position: absolute;
  left: 20px;
  top: 38px;

  .cityInput:focus ~ & {
    fill: $main-color;
  }

  .cityInput:not(:placeholder-shown) ~ & {
    fill: $main-color;
  }
}
