.wrapper {
  width: 100%;
  margin-bottom: 14px;
}

.datePicker {
  @include font(16, 20);
  font-weight: 400;
  width: 100%;
  padding: 9px;
  height: 50px;
  border: none;
  border-radius: 15px;
  background-color: $inputs-color;

  @include media(desktop) {
    @include font(16, 24);
    padding: 18px;
    border-radius: 12px;
  }

  &::placeholder {
    @include font(14, 18);
    font-weight: 400;
    color: $gray-color;

    @include media(desktop) {
      @include font(16, 24);
    }
  }

  &:focus {
    outline: none;
    border: 1px solid $button-color;
  }
}
