.camperPageItemContainer {
  margin-top: 16px;
  padding-bottom: 16px;

  @include media(desktop) {
    margin-top: 48px;
    padding-bottom: 80px;
  }
}

.camperPageItemMain {
  margin-bottom: 25px;

  @include media(desktop) {
    margin-bottom: 50px;
  }
}

.camperName {
  @include font(24, 32);
  font-weight: 500;
  margin-bottom: 8px;

  @include media(desktop) {
    font-weight: 600;
  }
}

.camperRatingLocationBlok {
  margin-bottom: 16px;
}

.camperPrice {
  @include font(24, 32);
  font-weight: 500;
  margin-bottom: 14px;

  @include media(desktop) {
    margin-bottom: 28px;
    font-weight: 600;
  }
}

.camperGallery {
  margin-bottom: 14px;

  @include media(desktop) {
    margin-bottom: 28px;
  }
}

.camperDescription {
  @include font(16, 20);
  font-weight: 400;
  color: $text-color;

  @include media(desktop) {
    @include font(16, 24);
    margin-bottom: 50px;
  }
}
