.ratingLocationContainer {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.ratingLocationContainer p {
  @include font(16, 24);
  font-weight: 400;
  display: flex;
  align-items: center;
}

.ratingLocationContainer p svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  fill: $main-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratingLocationContainer .ratingIcon {
  fill: $rating-color;
}
