.loadMoreBtn {
  @include font(16, 24);
  color: $main-color;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;

  width: 135px;
  height: 45px;
  border: 1px solid $gray-light-color;
  border-radius: 200px;

  @include media(desktop-s) {
    width: 140px;
    height: 50px;
  }

  @include media(desktop) {
    width: 145px;
    height: 56px;
  }

  &:hover,
  &:focus {
    border-color: $button-hover-color;
  }
}
