.catalogContainer {
  position: relative;
  padding-bottom: 26px;

  @include media(desktop-s) {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 36px;
  }

  @include media(desktop) {
    margin-top: 48px;
    padding-bottom: 52px;
  }
}

.catalogFiltersBtn {
  margin-top: 10px;
  margin-bottom: 10px;
}
