.catalogContainer {
  position: relative;

  @include media(desktop) {
    display: flex;
    column-gap: 64px;
    margin-top: 48px;
    padding-bottom: 52px;
  }
}

.catalogFiltersBtn {
  margin-bottom: 10px;
}

.loadMoreBtn {
  @include media(to-tablet) {
    padding: 12px 24px;
    border-radius: 100px;
  }
}
