.pageLoader {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.contentLoader {
  position: fixed;
  bottom: 5%;
  right: 5%;
}
