.tabsList {
  display: flex;
  align-items: center;
  column-gap: 30px;
  padding-bottom: 11px;
  margin-bottom: 25px;
  border-bottom: 1px solid $gray-light-color;

  @include media(desktop) {
    column-gap: 40px;
    padding-bottom: 24px;
    margin-bottom: 50px;
  }
}

.tabName {
  @include font(16, 20);
  font-weight: 500;
  user-select: none;
  cursor: pointer;

  @include media(desktop) {
    @include font(20, 24);
    font-weight: 600;
  }
}

.tabActive {
  position: relative;

  &::after {
    content: '';
    border-bottom: 3px solid $button-color;
    border-radius: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -13px;

    @include media(desktop) {
      border-bottom: 5px solid $button-color;
      border-radius: 3px;
      bottom: -26px;
    }
  }
}

.tabsChildrenWrapper {
  @include media(desktop) {
    display: flex;
  }
}
