.namePriceHeartContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemName {
  @include font(18, 26);
  font-weight: 500;

  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include media(tablet) {
    max-width: 250px;
  }

  @include media(desktop) {
    @include font(24, 32);
    font-weight: 600;

    max-width: 300px;
  }
}

.priceHeartContainer {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.itemPrice {
  @include font(18, 26);
  font-weight: 500;

  @include media(desktop) {
    @include font(24, 32);
    font-weight: 600;
  }
}

.heartCheckbox {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.heartCheckboxIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 24px;
  stroke: $button-color;
  stroke-width: 2px;
  fill: $white-color;
  cursor: pointer;

  @include media(tablet) {
    fill: transparent;
    stroke: $main-color;
  }
}

.checked {
  stroke: $white-color;
  fill: $button-color;

  @include media(tablet) {
    fill: $white-color;
    stroke: $button-color;
  }
}
