.namePriceHeartContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemName {
  @include font(24, 32);
  font-weight: 600;
}

.itemPrice {
  @include font(24, 32);
  font-weight: 600;
}

.checkboxContainer {
  position: relative;
}

.checkbox {
  width: 0;
  height: 0;
  appearance: none;
}

.iconCheckbox {
  width: 25px;
  height: 24px;
  fill: $main-color;
  cursor: pointer;

  position: absolute;
  top: 0;
  right: 0;

  .checkbox:checked {
    fill: $button-color;
  }
}
