.header {
  background-color: $inputs-color;

  @include media(to-tablet) {
    // max-height: 48px;
    position: relative;
    z-index: 10;
  }
}

.headerWrapper {
  padding-top: var(--header-padding);
  padding-bottom: var(--header-padding);

  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.headerLogo {
  flex-shrink: 0;
}

.menuCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

// .mobileMenuButton {
//   position: absolute;
//   top: 8px;
//   right: 8px;
// }
